#stack {
    border: 1px solid black;
    position: fixed;
    left: 2%;
    top: 2%;
    width: 30%;
    height: 85%;
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;
    align-content: stretch;
}

#messages {
    border: 1px solid black;
    position: fixed;
    left: 2%;
    bottom: 2%;
    width: 30%;
    height: 8%;
}

#program-box {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    position: fixed;
    right: 2%;
    top: 2%;
    width: 63%;
    height: 85%;
}

#program-selector {
    flex: 1 0;
    min-height: 32px;
    height: 32px;
    max-height: 32px;
}

#program {
    flex: 1 1;
}

#prompt {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 63%;
    height: 8%;
}

#stack > div {
    flex: 0 0 20px;
    text-align: right;
    padding: 5px;
}
